# URL da API de Transparência
# Homologação: https://petrvshomolog.ufpi.edu.br/transparencia-api/
# Local: http://localhost:8880
VITE_API_URL=https://petrvshomolog.ufpi.edu.br/transparencia-api/
VITE_HEADER_TITLE=Transparência PGD
VITE_FOOTER_TEXT=Rodapé